body {
    font-family: 'Con', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content-wrapper {
    /* top - sides - bottom */
    padding: 20px 50px 100px;
}

.tooltip {
    border-radius: 5px !important;
}